body {
  line-height: 1.5;
  color: #2a2a2a;
}

a {
  text-decoration: none;
}

button {
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
